<h2 style="color: #fff;">Sign-In</h2>
<form action="/user/login" method="post" id="page-enter__form-enter" class="page__form">
    <label for="page__form-name" class="page__form-label">
        <span class="page__form-label-text">Login</span>

        <input placeholder="Enter login" required type="text"
               class="page__form-input"
               id="page__form-name"
               name="login">
    </label>

    <label for="page__form-password" class="page__form-label">
        <span class="page__form-label-text">Password</span>

        <input placeholder="Enter Password" required type="password" class="page__form-input"
               id="page__form-password"
               name="password">
    </label>

    <button class="page__form-btn" type="submit">Sign In</button>
</form>
