<h1>New Password</h1>
<form action="/user/change-password" method="post" id="page-enter__form-restore-password" class="page__form">
    <label for="page__form-restore" class="page__form-label">
        <span class="page__form-label-text">Enter email</span>

        <input placeholder="Enter new password" required type="text"
               class="page__form-input"
               id="page__form-restore"
               name="password">
    </label>
    <button class="page__form-btn" type="submit">Change Password</button>
</form>