<h2 style="color: white">Restore password</h2>
<form action="/user/restore" method="post" id="page-enter__form-restore-password" class="page__form">
    <label for="page__form-restore" class="page__form-label">
        <span class="page__form-label-text">Enter email</span>

        <input placeholder="Enter email" required type="text"
               class="page__form-input"
               id="page__form-restore"
               name="email">
    </label>
    <button class="page__form-btn" type="submit">Restore</button>
</form>