//Variables Start

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap');

$main-font                 : 'Ubuntu', sans-serif;

$basic-white               : #fff;
$basic-black               : #000;
$basic-grey                : #F9FAFC;
$basic-content             : #E5E5E5;
$basic-line                : #F9FAFC;
$basic-form-line           : #D3D8DD;
$basic-svg-color           : #C2CFE0;

$basic-text-grey           : #C2CFE0;
$basic-text-grey-footer    : #90A0B7;
$basic-text-blue           : #334D6E;
$basic-item-blue-active    : rgba(16, 156, 241, 0.03);
$basic-text-blue-active    : #109CF1;


//Variables End